* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;

}

body {
    background-color: #E4EAFB;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}




.card {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 40px;
    width: 360px;
}


.card span.status.success{
    background-color: #dcfce7    ;
    color: #16a34a
    ;
}

.card span.status{
    color: #dc2626;
    font-weight: 300;
    padding: 10px 30px;
    width: 85%;
    margin-bottom: 10px;
    font-size: 14px;
    /* width: 384px; */
    border-radius: 8px;
    /* height: 36px; */
    background-color: #f1c8c8   ;
}
.card .logo img{
    width: 250px;
}

.card .email{
    display: flex;
    flex-direction: column;
    opacity: 75%;
}

.card .email label{
    text-align: start;
    color: #2a303c;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 320;
}


p {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    opacity: 80%;
    text-align: start;
    color: #2a303c;
}


span.error{
    color: red;
    font-size: 15px;
    margin-left: 3px;
    margin-top: 5px;
    text-align: start;
    width: 80%;;

}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

 input:focus{
    outline: none;
    box-shadow: 1px 1px 5px  #7771FF;
}



form input{
    margin-top: 10px;
    border-radius: 8px;
    background-color: #E4EAFB;
    border: 1px solid #34238c;
    padding: 15px;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    color: black;
    height: 17px;
    /* margin: auto; */
}

.content-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between  ;
    flex-direction: row;
}

.content-button a button {
    width: 177px;
}

.content-button button:nth-child(2) {
    margin-left: 10px;
}

 button:active {
    scale: 0.9;
}

.content-button button {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-weight: 500;
    border: none;
    font-size: 14px;
    width: 180px;
    height: 50px;
    color: white;
    transition: all ease .2s; 
}

.content-button button svg {
    margin-right: 4px;
    margin-bottom: -3px;
}

.content-button button:nth-child(2)  svg{
    margin-right: 0;
    margin-left: 4px;
}

button.back:hover {
    background-color: #64749b;
}

button.back {
    background-color: #94a3b8;
    border-radius: 8px;
}

button.save:hover {
    background-color: rgb(111, 104, 251, 100%);
}
button.save {
    background-color: rgb(111, 104, 251, 80%);
    border-radius: 8px;
}

/* 
button {
    background-color: #7771FF;
    font-size: 15px;
    color: white;
    padding: 0 20px;
    margin-top: 15px;   
    cursor: pointer;
    border-radius: 10px;
    border: none;
    height: 35px;
} */